/* GENERAL */

body {
  background-color: #393e46;
}

.main-container {
  position: relative;
  top: 7vh;
}

/* DICE ROLL */

.container {
  position: relative;
  width: 70%;
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 30px 30px 0;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: calc(7vw + 1rem);
  color: #4ecca3;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
}

.dice {
  display: inline-block;
}

.dice:first-child {
  padding-top: calc(0.5rem + 0.5rem);
  padding-right: calc(7vw + 0.5rem);
}

.dice-content {
  display: flex;
  flex-direction: column;
}

p {
  font-size: calc(1vw + 1rem);
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: calc(13vw + 2.5rem);
}

#btn {
  display: none;
}

footer {
  margin-top: 4rem;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

footer img {
  width: calc(0.7vw + 0.7rem);
}

h3 {
  font-size: calc(0.5vw + 0.7rem);
}

/* RESPONSIVE */

@media (max-width: 1370px) {
  #btn {
    display: inline-block;
    visibility: hidden;
  }
}

@media (max-width: 499px) {
  .container {
    width: 95%;
  }

  p {
    font-size: calc(1vw + 0.7rem);
  }

  h1 {
    font-size: calc(4vw + 1rem);
  }
}
