/* GENERAL */

body {
  background-color: #393e46;
}

/* DICE ROLL */

.container {
  position: relative;
  width: 70%;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 30px 30px 0;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
}

.dice {
  display: inline-block;
}

.dice:first-child {
  padding: 2rem 7rem 0 0;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 15rem;
}

footer {
  position: absolute;
  top: 43rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

footer img {
  width: 1.3rem;
}
